@import "./vars";

$header-background: lighten($base-background, 45);

@mixin lightTheme() {
  .light-theme & {
    @content;
  }
}

.themed-content {
  @include lightTheme {
    padding: 0.5rem;
    background-color: lighten($base-background, 100);
    main {
      color: black;
      border: $base-border-width solid lighten($base-background, 30);
      border-radius: $base-border-radius;
      padding: $base-padding;
      header {
        background-color: $header-background;
      }
      .content {
        background-color: rgba(235, 235, 235, 0.8);
        height: $content-height;
      }
      footer {
        background-color: rgba(235, 235, 235, 0.755);
        height: $base-height;
      }
    }
  }
}
